name: Issue trigerred
on:
  workflow_dispatch:
  issues:
    types: [opened, edited, milestoned]
jobs:
  output:
    runs-on: ubuntu-latest
    steps:
      - name: Output event
        run: echo "${{ toJSON(github.event) }}"